$bg-color: #f9f9f9;
$fg-color: #c83d2f;

.rg-loader {
	text-align: center;
	display: none;
	animation: fadeIn 1s;

	&__spin {
		font-size: 10px;
		margin: 0 auto 20px auto;
		text-indent: -9999em;
		width: 11em;
		height: 11em;
		border-radius: 50%;
		background: $fg-color;
		background: -moz-linear-gradient(left, $fg-color 10%, rgba(255, 255, 255, 0) 42%);
		background: -webkit-linear-gradient(left, $fg-color 10%, rgba(255, 255, 255, 0) 42%);
		background: -o-linear-gradient(left, $fg-color 10%, rgba(255, 255, 255, 0) 42%);
		background: -ms-linear-gradient(left, $fg-color 10%, rgba(255, 255, 255, 0) 42%);
		background: linear-gradient(to right, $fg-color 10%, rgba(255, 255, 255, 0) 42%);
		position: relative;
		-webkit-animation: rotate 1.4s infinite linear;
		animation: rotate 1.4s infinite linear;
		-webkit-transform: translateZ(0);
		-ms-transform: translateZ(0);
		transform: translateZ(0);

		&:before {
		  width: 50%;
		  height: 50%;
		  background: $fg-color;
		  border-radius: 100% 0 0 0;
		  position: absolute;
		  top: 0;
		  left: 0;
		  content: '';
		}

		&:after {
		  background: $bg-color;
		  width: 75%;
		  height: 75%;
		  border-radius: 50%;
		  content: '';
		  margin: auto;
		  position: absolute;
		  top: 0;
		  left: 0;
		  bottom: 0;
		  right: 0;
		}
	}

	&__txt {
		font-size: 1.3rem;
		color: $fg-color;
		font-weight: 700;
	}

	&.-active {
		display: block;
	}
}
