$step-color: #707070;
$step-active-color: #c83d2f;

.rg-steps {
	padding: 1.6rem 0;

	&__info {
		color: $step-color; 
		font-size: .7rem;
		line-height: 1;
	}

	&__item {
		padding: 0; 
		position: relative;
		text-align: center;

		&:before {
			content: '';
			position: absolute; 
			width: 16px; 
			height: 16px; 
			display: block; 
			background-color: $step-color; 
			top: 16px; 
			left: 50%; 
			margin-top: -8px; 
			margin-left: -8px; 
			border-radius: 50%;
			z-index: 1;
		}

		> .progress {
			position: relative; 
			border-radius: 0px; 
			height: 4px; 
			box-shadow: none; 
			background-color: #707070;
			margin: 14px 0;

			> .progress-bar {
				width:0px; 
				box-shadow: none; 
				background: $step-color;
			}
		}

		&.-complete {
			&:before {
				background-color: $step-active-color;
			}
			.rg-steps__info {
				color: $step-active-color;
			}
			> .progress > .progress-bar {
				width:100%;
				background-color: $step-active-color;
			}
		}

		&.-active {
			&:before {
				background-color: $step-active-color;
			}
			.rg-steps__info {
				color: $step-active-color;
			}
			> .progress > .progress-bar {
				width:50%;
				background-color: $step-active-color;
			}

			&:not(:first-child) {
				&:before {
					transition: background-color .6s;
					transition-delay: .6s;
				}
				.rg-steps__info {
					transition: color .6s;
					transition-delay: .6s;
				}
				> .progress > .progress-bar {
					transition-delay: .6s;
				}
			}
		}

		// &.-disabled {
		// 	&:before {
		// 		background-color: #707070;
		// 	}
		// 	.rg-steps__info {
		// 		color: #707070;
		// 	}
		// }

		&:first-child {
			> .progress {
				left: 50%; 
				width: 50%;
			}
			&.-active {
				> .progress > .progress-bar {
					width:0%;
				}
			}
		}

		&:last-child {
			> .progress {
				width: 50%;
			}
			&.-active {
				> .progress > .progress-bar {
					width: 100%;
				}
			}
		}
	}
}
