.body-rg {
	background-color: #F3F3F4;
	position: relative;
	padding-top: 2.6rem;
	color: #959595;
	padding-bottom: 4rem;

	&:before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		background-color: theme-color("secondary");
		display: block;
		width: 100%;
		height: 185px;
		z-index: -1;
	}
}

.rg-main {
	max-width: 450px;
	margin: 0 auto;
	box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, .05);
	background-color: #fff;

	.rg-loader {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		width: 100%;
		left: 0;
	}

	&.-finish {
		.rg-steps, .rg-header__top {
			display: none;
		}
		.rg-header__bottom {
			display: block;
		}
	}
}

.rg-wrp {
	position: relative;
	min-height: 400px;
	width: 90%;
	margin: 0 auto;

	@include media-breakpoint-up(sm) { 
		width: 80%;
	}

}

.rg-header {
	padding: 1.2rem;

	&__bottom {
		display: none;
		text-align: center;
	}
}

.rg-infos {
	&__item {
		text-align: center;

		&:not(:last-child) {
			border-right: 1px solid #e8e9e8;
		}
		
		span {
			display: block;
			&:first-child {
				color: theme-color("secondary");
				font-weight: 700;
			}
			&:last-child {
				font-size: .7rem;
				color: #707070;				
			}
		}
	}
}

.rg-txt {
	line-height: 1.3;
	font-size: .9rem;
	margin-bottom: 1.2rem;
}

.rg-title {
	font-size: 1.1rem;
	text-align: center;
	line-height: 1.2;
	margin-bottom: 1.2rem;
	span {
		display: block;
		color: theme-color("secondary");
		font-weight: 700;
		font-size: 1.4rem;
	}
}

.rg-content {
	background-color: #f9f9f9;
	padding-bottom: 2.6rem;
}

.rg-form {
	.form-group {
		margin-bottom: .7rem;

		label {
			font-size: .9rem;
			margin-bottom: .3rem;
			color: #a6a5a3;
		}
	}

	label {
		&.-small {
			font-size: .6rem;
		}
	}

	.form-control {
		border-radius: 0;
		padding: 0.5rem 0.75rem;
		border-color: #e5e5e5;
	}

	.input-group-text {
		background-color: #eeeeee;
		font-size: .8rem;
		color: #9b9b99;
		border-color: #e5e5e5;
	}

	.form-tooltip {
		border-radius: 50%;
		display: inline-block;
		background-color: #9b9b99;
		color: #fff;
		font-size: .7rem;
		width: 13px;
		height: 13px;
		text-align: center;
		line-height: 13px;
		cursor: pointer;
	}

	.form-check {
		@include media-breakpoint-down(sm) { 
			margin-bottom: .7rem;
		}
	}
}

.rg-process {
	display: none;

	&.-active {
		display: block;
		animation: 1s fadeIn;
	}
}

.rg-opt {
	display: block;
	font-size: .8rem;
	cursor: pointer;

	.form-check {
		padding: 0;
		line-height: 1;
	}

	input[type="checkbox"] {
		position: absolute;
		visibility: hidden;
	}

	input[type="text"] {
		border: none;
		border-bottom: 1px solid #e5e5e5;
		font-size: .8rem;
		text-align: center;
		padding: 0.3rem 0.50rem;
	}

	label {
		font-size: .8rem;
		margin-bottom: 0;
	}

	&__wrp {
		background-color: #fff;
		border-radius: 4px;
		padding: 0 1rem;
		text-align: center;
		position: relative;
		margin-bottom: 10px;
		height: 118px;
		line-height: 118px;
		border: 1px solid #fff;
		transition: all .3s;
	}

	&__item {
		line-height: 1;
		vertical-align: middle;
		display: inline-block;

		img {
			margin-bottom: .8rem;
		}
	}

	&.-last {
		.rg-opt__wrp {
			padding-top: 2.4rem;
		}
		.form-control {
			margin-bottom: .9rem;

			&:focus {
				box-shadow: none;
				border-bottom-color: theme-color("secondary");
			}
		}
		.form-check-label {
			padding: .7rem 0;
			display: block;
			cursor: pointer;
		}
		.form-check-label input[type="checkbox"]:checked ~ span {
			color: theme-color("secondary");
		}
	}

	input[type="checkbox"]:checked ~ .rg-opt__wrp {
		border-color: theme-color("secondary");
	}
}

.rg-finish {
	text-align: center;
	padding-top: 2.6rem;
	display: none;
	animation: fadeIn 1s;

	&__txt {
		font-size: 1.3rem;
		color: theme-color("secondary");
		font-weight: 700;
	}

	.rg-infos {
		margin-bottom: 2rem;
	}

	&__icon {
		margin-bottom: 4rem;
		img {
			margin-bottom: 1rem;
		}
	}

	&.-active {
		display: block;
	}
}

