//CUSTOM VARIABLES

$theme-colors: (
    primary: #707070,
    secondary: #c83d2f
);

$line-height-base: 1.2;

$input-btn-focus-width: .06rem;
$btn-border-radius: .1rem;
$input-btn-padding-y: .8rem;
$input-btn-padding-x: .75rem;