<!DOCTYPE html>
<html">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<title>Selbetti - Front-end</title>
	<meta name="description" content="Nitro - Boilerplate" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body class="body-rg">
	<div class="rg-main">
		<div class="rg-header">
			<div class="rg-header__top">
				<div class="rg-title"><span>Cadastre-se Gratuitamente</span> e tenha um plano vitalicio com</div>
				<div class="rg-infos">
					<div class="container">
						<div class="row">
							<div class="col rg-infos__item">
								<span>1000</span>
								<span>impressões</span>
							</div>
							<div class="col rg-infos__item">
								<span>1GB</span> 
								<span>de espaço</span>
							</div>
							<div class="col rg-infos__item">
								<span>3</span> 
								<span>usuários</span>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="rg-header__bottom">
				<div class="rg-title"><span>Nome do cadastrado</span></div>
				<p>Bem-vindo a revolução em gerenciamento de documentos e impressões em nuvem</p>
			</div>
		</div>
		<div class="rg-content">
			<div class="rg-steps">
				<div class="container">
					<div class="row">
					    <div class="col rg-steps__item -active">
					      <div class="progress"><div class="progress-bar"></div></div>
					      <div class="rg-steps__info">Digite <br/>seus dados</div>
					    </div>
					    
					    <div class="col rg-steps__item -disabled"><!-- complete -->
					      <div class="progress"><div class="progress-bar"></div></div>
					      <div class="rg-steps__info">Selecione suas<br/> nescessidades</div>
					    </div>
					    
					    <div class="col rg-steps__item -disabled"><!-- complete -->
					      <div class="progress"><div class="progress-bar"></div></div>
					      <div class="rg-steps__info">Finalizar<br/> cadastro</div>
					    </div>
					</div>
				</div>
			</div>
			<div class="rg-wrp">
				<div class="rg-loader">
					<div class="rg-loader__spin"></div>
					<div class="rg-loader__txt"><p>Aguarde enquanto<br/> preparamos o seu portal</p></div>
				</div>
				<div class="rg-form">
					<form id="form-rg" class="form">		
						<div class="rg-process -active">	
							<div class="form-group">
								<label for="name">Nome</label>
								<input type="text" name="name" id="name" class="form-control">
							</div>
							<div class="form-group">
								<label for="email">Email</label>
								<input type="email" name="email" id="email" class="form-control">
							</div>
							<div class="form-group">
								<label for="password">Senha</label>
								<input type="password" name="password" id="password" class="form-control">
							</div>
							<div class="form-group">
								<label for="url">Domínio <span class="form-tooltip" data-toggle="tooltip" data-placement="top" title="Domínio">?</span></label>
								<div class="input-group mb-2">
									<input type="text" name="url" id="url" class="form-control">
							        <div class="input-group-prepend">
							          <div class="input-group-text">.selbetti.com.br</div>
							        </div>
								</div>
							</div>
							<div class="form-group mb-4">
								<label for="phone">Telefone</label>
								<div class="form-row">
									<div class="col">
										<input type="text" name="phone-1" id="phone" class="form-control">
									</div>
									<div class="col">
										<input type="text" name="phone-2" class="form-control">
									</div>
									<div class="col-7">
										<input type="text" name="phone-3" class="form-control">
									</div>
								</div>
							</div>
							<div class="form-row align-items-center">
								<div class="col-md-7">
									<div class="form-check">
										<input class="form-check-input" type="checkbox"id="news">
										<label class="form-check-label -small" for="news">
											Concordo em receber novidades sobre a Selbetti via email
										</label>
									</div>
								</div>
								<div class="col-md-5">
									<button id="btn-next" class="btn btn-primary btn-block">Continuar</button>
								</div>
							</div>
						</div>
						<div class="rg-process">
							<div class="rg-txt text-center"><p>Selecione uma ou mais necessidades para<br/> pré-configurarmos o sistema para você</p></div>

							<div class="form-row mb-4">
								<div class="col-4">
									<label class="rg-opt">
										<input type="checkbox">
										<div class="rg-opt__wrp">
											<div class="rg-opt__item">
												<img src=<%= require('./assets/images/icon-1.png') %> />
												Recursos Humanos
											</div>
										</div>
									</label>	
								</div>
								<div class="col-4">
									<label class="rg-opt">
										<input type="checkbox">
										<div class="rg-opt__wrp">
											<div class="rg-opt__item">
												<img src=<%= require('./assets/images/icon-6.png') %> />
												Financeiro
											</div>
										</div>	
									</label>
								</div>
								<div class="col-4">
									<label class="rg-opt">
										<input type="checkbox">
										<div class="rg-opt__wrp">
											<div class="rg-opt__item">
												<img src=<%= require('./assets/images/icon-7.png') %> />
												Atendimento
											</div>
										</div>	
									</label>
								</div>
								<div class="col-4">
									<label class="rg-opt">
										<input type="checkbox">
										<div class="rg-opt__wrp">
											<div class="rg-opt__item">
												<img src=<%= require('./assets/images/icon-3.png') %> />
												Jurídico
											</div>
										</div>	
									</label>
								</div>
								<div class="col-4">
									<label class="rg-opt">
										<input type="checkbox">
										<div class="rg-opt__wrp">
											<div class="rg-opt__item">
												<img src=<%= require('./assets/images/icon-2.png') %> />
												Logística
											</div>
										</div>	
									</label>	
								</div>
								<div class="col-4">
									<label class="rg-opt">
										<input type="checkbox">
										<div class="rg-opt__wrp">
											<div class="rg-opt__item">
												<img src=<%= require('./assets/images/icon-5.png') %> />
												Educação
											</div>
										</div>	
									</label>
								</div>
								<div class="col-4">
									<label class="rg-opt">
										<input type="checkbox">
										<div class="rg-opt__wrp">
											<div class="rg-opt__item">
												<img src=<%= require('./assets/images/icon-4.png') %> />
												Saúde
											</div>
										</div>	
									</label>	
								</div>
								<div class="col-8">
									<div class="rg-opt -last">
										<div class="rg-opt__wrp">
											<input type="text" class="form-control" placeholder="Digite um segmento">

											<div class="form-check">
												<label class="form-check-label">
													<input class="form-check-input" type="checkbox">
													<span>Outro</span>
												</label>
											</div>
										</div>
									</div>
								</div>
							</div>

							<div class="form-row">
								
								<div class="col-4">
									<button id="btn-back" class="btn btn-block btn-outline-primary">Voltar</button>
								</div>
								<div class="col-8">
									<button id="btn-submit" class="btn btn-block btn-secondary" type="submit">Criar minha conta</button>
								</div>

							</div>
						</div>
					</form>
				</div><!-- rg-form -->
				<div class="rg-finish">
					<div class="rg-finish__icon">
						<img src=<%= require('./assets/images/icon-8.png') %> />
						<div class="rg-finish__txt">
							<p>Adeus papel!<br/>Seu portal está pronto.</p>
						</div>
					</div>
					<p class="mb-4">Seu plano gratuito garante<br/>acesso vitalício a</p>
					<div class="rg-infos">
						<div class="container">
							<div class="row">
								<div class="col rg-infos__item">
									<span>1000</span>
									<span>impressões</span>
								</div>
								<div class="col rg-infos__item">
									<span>1GB</span> 
									<span>de espaço</span>
								</div>
								<div class="col rg-infos__item">
									<span>3</span> 
									<span>usuários</span>
								</div>
							</div>
						</div>
					</div>
					<button class="btn btn-secondary btn-block">Ir para o meu portal</button>
				</div>
			</div><!-- rg-wrp -->
		</div>
	</div>	
</body>
</html>